@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Roboto", sans-serif;
}
.hero-background {
  position: absolute;
  width: 32.75rem;
  height: 31rem;
  border-radius: 50%;
  margin: auto;
  left: 10%;
  z-index: -1000;
  background: radial-gradient(
    483.9% 2719.65% at -49.5% -250%,
    #d798e1 17.55%,
    #9bffa5 27.56%,
    #aed3ff 49.89%,
    #c9d4ef 56.53%,
    #cacffa 65.69%
  );
  filter: blur(12.5rem);
}
.more-info__background {
  position: absolute;
  width: 100%;
  height: 80vh;
  z-index: -1000;
  opacity: 0.9;
  background: radial-gradient(
    483.9% 2719.65% at -49.5% -250%,
    #d798e173 17.55%,
    #9bffa563 27.56%,
    #aed3ff 49.89%,
    #c9d4ef 56.53%,
    #cacffa 65.69%
  );
}
.footer-background{
  position: absolute;
  width: 100%;
  height: 80vh;
  border-radius: 50%;
  bottom: 0.75rem;
  z-index: -1000;
  opacity: 0.3;
  filter: blur(6.25rem);
  background: radial-gradient(
    483.9% 2719.65% at -49.5% -250%,
    #d58ae1 17.55%,
    #8cfa97 27.56%,
    #aed3ff 49.89%,
    #c9d4ef 56.53%,
    #cacffa 65.69%
  );
}
.price-background {
  border: 0.25rem solid #6b7cff;
  background: linear-gradient(175.67deg, #d7e7f9 13.12%, #d5f4ec 96.48%);
}
.price-bg {
  position: absolute;
  width: 100%;
  height: 180vh;
  border-radius: 50%;
  top: 70%;
  z-index: -1000;
  background: radial-gradient(
      483.9% 2719.65% at -49.5% -250%,
      #d798e180 17.55%,
      #9bffa54e 27.56%,
      #aed2ff75 49.89%,
      #c9d4ef7a 56.53%,
      #cacffa 65.69%
    );
  filter: blur(21.875rem);
}
.service {
  @apply relative pt-24;
  background: radial-gradient(
    483.9% 2719.65% at -49.5% -250%,
    #d798e173 17.55%,
    #9bffa563 27.56%,
    #aed3ff 49.89%,
    #c9d4ef 56.53%,
    #cacffa 65.69%
  );
}


.header{
  @apply flex justify-between p-4;
}
.header__list{
  @apply m-0 p-0;
}
.header__menu{
  @apply inline-flex pr-5
}
.header__button{
  @apply bg-main p-4 pl-10 pr-10 rounded-xl text-white font-semibold
}
.header__image{
  @apply h-logo-h w-logo-w;
}
.hero{
  @apply text-center mt-16  relative;
}
.title{
  @apply text-5xl font-semibold leading-normal mb-5 text-main ;
}
.hero__desc{
  @apply mb-7 text-lg
}
.hero__title{
  @apply text-large font-semibold leading-normal mb-5 text-main 
}
.hero__desc{
  @apply font-normal text-lg leading-relaxed text-main opacity-80
}
.hero__form{
  @apply bg-white w-fit m-auto mt-14 p-1 rounded-xl
}
.hero__input{
  @apply text-black outline-none w-96 placeholder:text-main pl-3;
}
.hero__button{
  @apply bg-main p-4 pl-10 pr-10 rounded-xl text-white font-semibold
}
.hero__image{
  @apply m-auto mt-100
}
.solutions__title{
  @apply text-large text-center font-semibold leading-normal mb-5 text-main 
}
.solutions__title--small{
  @apply text-2xl text-center mt-100 font-semibold bg-clip-text text-transparent bg-gradient-to-r from-dark-blue to-light-blue mb-5
}
.solutions__body{
  @apply grid grid-cols-3 m-auto w-fit bg-secondary p-10 pt-14 pb-14 gap-10 rounded-3xl mr-5.5 ml-5.5 mt-14
}
.solutions__img,.features__img{
  @apply w-6.6 mb-5
}
.solutions__header,.features__header{
  @apply text-3xl font-bold leading-normal mt-2.5 mb-5
}
.solutions__text,.features__text{
  @apply font-normal  opacity-80 mt-2.5
}
.info{
  @apply mr-5.5 ml-5.5  mt-32 gap-10 grid grid-cols-2 mb-100
}
.info__item{
  @apply m-auto
}
.info__title,.sales__title{
  @apply text-large font-semibold leading-normal mb-5 text-main 
}
.info__title--small,.sales__title--small{
  @apply text-2xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-dark-blue to-light-blue mb-5
}
.info__text,.sales__text{
  @apply leading-relaxed font-normal
}
.info__details,.sales__details{
  @apply flex gap-5 mb-8
}
.sales__icon{
 @apply h-12 w-12 mt-auto mb-auto p-4 rounded-full bg-semi-secondary
}
.info__icon{
  @apply bg-danger h-12 w-12 mt-auto mb-auto p-4 rounded-full
}
.info__subtitle,.sales__subtitle{
  @apply  font-normal leading-relaxed
}
.customer{
  @apply mr-5.5 ml-5.5 mt-200 grid grid-cols-2 bg-transparent
}
.customer__item{
  @apply m-auto bg-transparent
}
.customer__item--right{
  @apply m-0 bg-none
}
.customer__title{
  @apply text-large font-semibold leading-normal mb-5 text-main 
}
.customer__text{
  @apply  leading-relaxed font-normal mb-8
}
.customer__buttom{
  @apply bg-main p-4 pl-10 pr-10 rounded-xl text-white font-semibold
}
.companies{
  @apply flex mt-100 flex-wrap w-9.10 mb-14 gap-32 mr-5.5 ml-5.5
}
.companies__item{
  @apply w-170
}
.sales{
  @apply mr-5.5 ml-5.5  mt-32 gap-10 grid grid-cols-2 mb-100
}
.sales__item{
  @apply m-auto
}
.features__title{
  @apply text-large font-semibold leading-normal mb-5 text-main  text-center
}
.features__card{
  @apply grid grid-cols-3 m-auto w-fit p-10 pt-14 pb-14 gap-10 rounded-3xl mr-5.5 ml-5.5 mt-14 bg-bg-rgba-2 mb-16
}
.features__item--outline{
  @apply border-l-3 border-extra-secondary pl-8
}
.stuff__title{
    @apply text-large font-semibold leading-normal mb-5 text-main text-center
}
.stuff__body{
  @apply grid grid-cols-3 text-center mr-5.5 ml-5.5 mt-12 gap-5
}
.stuff__item{
  @apply border-2 border-bg-rgba-3 p-14 rounded-3xl pl-10 pr-10
}
.stuff__text{
  @apply font-semibold text-lg leading-relaxed mb-5
}
.stuff__image{
  @apply w-14 m-auto
}
.stuff__subtitle{
 @apply font-medium  leading-relaxed
}
.stuff__subtitle--small{
  @apply font-normal text-main text-xs leading-18
}
.footer{
  @apply mt-130 text-center relative
}
.footer__title{
  @apply text-large font-semibold leading-normal mb-5 text-main text-center
}
.footer__text{
  @apply  leading-relaxed font-normal mb-10
}
.footer__button{
  @apply bg-main p-4 pl-10 pr-10 rounded-xl text-white font-semibold
}
.footer__body{
  @apply bg-main text-white pr-5.5 pl-5.5 mt-100 pt-14 pb-100
}
.footer__card{
  @apply flex  text-left gap-28
}
.footer__header{
  @apply font-semibold text-lg mb-2.5
}
.footer__link{
  @apply font-normal text-sm opacity-60 mb-3
}
.footer__image{
  @apply mb-5
}
.footer__subtitle{
  @apply font-semibold text-lg mb-5
}
.footer__form{
  @apply bg-semi-main w-full m-auto flex  rounded-xl
}
.footer__input{
  @apply text-black outline-none bg-transparent p-3 placeholder:text-white placeholder:opacity-50  pl-3
}
.footer__button--light{
  @apply p-4 pl-10 pr-10 rounded-xl font-semibold text-black bg-white
}
.footer__end{
  @apply flex mt-14 opacity-50
}
.footer__line{
  @apply w-5/12 m-auto
}
.hero-product{
  @apply mr-5.5 ml-5.5 grid grid-cols-2 bg-transparent mt-12
}
.hero-product__item{
  @apply m-auto bg-transparent 
}
.hero-product__title{
  @apply text-large font-semibold leading-normal mb-5 text-main 
}
.hero-product__text{
  @apply text-base leading-relaxed font-normal mb-7
}
.hero-product__group{
  @apply flex gap-5
}
.hero-product__button{
  @apply bg-main p-4 pl-10 pr-10 rounded-xl text-white font-semibold
}
.hero-product__button--light{
  @apply  p-4 pl-10 pr-10 rounded-xl font-semibold bg-transparent text-black border-3 border-bg-rgba-3
}
.service__title{
  @apply text-large font-semibold leading-normal mb-5 text-main text-center
}
.service__body{
  @apply grid grid-cols-3 m-auto w-fit bg-secondary p-10 gap-10 mt-12 bg-bg-rgba-4  ml-0 mr-5.5 pl-5.5 rounded-none rounded-tr-md pt-100 pb-100
}
.service__icon{
  @apply w-6.6 mb-5
}
.service__subtitle{
  @apply font-bold text-2xl leading-relaxed mt-1.5 mb-1.5
}
.service__text{
  @apply font-normal text-base opacity-80 mt-2.5
}
.about{
  @apply mr-5.5 ml-5.5  mt-24 gap-10 grid grid-cols-2 mb-100
}
.about__item{
  @apply m-auto
}
.about__title{
  @apply text-large font-semibold leading-normal mb-5 text-main 
}
.about__title--small{
  @apply text-2xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-dark-blue to-light-blue mb-5 
}
.about__text{
  @apply  text-base leading-relaxed font-normal
}
.about__img{
  @apply h-448
}